<!DOCTYPE html>
<html lang="it en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/style/conferma.css" />
    <title>Iscrizione effettuata!</title>
    <!-- FONT AWESOME -->
    <script
      src="https://kit.fontawesome.com/e81c3e6807.js"
      crossorigin="anonymous"
    ></script>
    <!-- FONT BODY -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap"
      rel="stylesheet"
    />
    <!-- FONT TITOLO -->
    <link
      href="https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="title">
      <h1>Iscrizione effettuata!</h1>
    </div>
    <div class="sottoTitolo">
      <h3>
        Grazie e buon proseguimento!
      </h3>
      <h3><i class="far fa-smile-beam" style="font-size: 50px;"></i></h3>
    </div>

    <footer>
      <p>
        Made with <i style="color: #cf1b1b;">&#9829;</i> by
        <a href="https://github.com/GianmarcoMo"> Gianmarco Moresi</a>
      </p>
    </footer>
  </body>
</html>
